{% extends "base.html" %}

{% block content %}
    <h1>FEC Status Board</h1>
    <br><a href="/create">Add new profile</a><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Comment</th>
                <th>Name</th>
                <th>Email</th>
                <th>Last Update</th>
                <th>Edit</th>
            </tr> 
        </thead>
        <tbody>
            {% for user in users %}
            <tr
            {% if user[5] == "OUT" %}
             class="table-warning"
             {% elif user[5] == "IN" %}
             class="table-success"
             {% elif user[5] == "ON LEAVE" %}
             class="table-danger"
             {% elif user[5] == "WFH" %}
             class="table-primary"
             {% endif %}>
                <th scope="row">{{ user[5] }}</td>
                <td>{% if user[6] %} ({{ user[6] }}) {% endif %}</td>
                <td>{{ user[2] }} {{ user[3] }}</td>
                <td><a href="mailto: {{ user[1] }}">{{ user[1] }}</a></td>
                <td>{{ user[4] }}</td>
                <td><a href="/id/{{ user[0] }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}