<!doctype html>
<html>
    <head>

      <!-- BOOTSTRAP CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      {% if title %}
      <title>FEC - {{ title }} - FEC</title>
      {% else %}
      <title>FEC</title>
      {% endif %}

    </head>
    <body>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/static/fec-logo-nav.png" alt="" width="104" height="48"  class="d-inline-block align-text-middle">
          </a>
        </div>
      </nav>
      {% block content %}{% endblock %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>