{% extends "base.html" %}

{% block content %}
<br>
    <h3>AUDIT LOGS - Displaying last {{ logLen }} recent entries</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Timestamp</th>
                    <th>Change</th>
                    <th>Previous</th>
                    <th>New</th>
                </tr> 
            </thead>
            <tbody>
                {% for row in logs %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}