{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
    <h3>Edit Profile</h3>
    <form action="/id/{{ user[0] }}" method="POST" enctype = "multipart/form-data">
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name ="status" id="status" value="{{ user[5] }}">
                {% for i in statusOptions %}
                <option> {{ statusOptions[i] }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="comment" maxlength="20" value="{{ user[6] }}">
        </div>
        <br>
        <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" name="fName" id="fName" value="{{ user[2] }}">
        </div>
        <br>
        <div class="form-group">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control" name="lName" id="lName" value="{{ user[3] }}">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{ user[1] }}">
        </div>
        <br>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" name="id" id="id" value="{{ user[0] }}" readonly>
        </div>
        <br>
        <div class="form-group">
            <label for="update-link">User Update Link</label>
            <input type="text" class="form-control" name="update-link" id="update-link" value="http://{{ hostname }}/update-status/{{ user[0] }}" readonly>
        </div>
        <br>
        <div class="form-group">
            <label for="profilePicture">Profile picture (.PNG, 200x200px).</label> <br>
            <input type="file" class="form-control-file" id="profilePicture" name="profilePicture">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
    <br>
    <form action="/delete/{{ user[0] }}" method="POST">
        <button type="submit" class="btn btn-danger" name="deleteID" value="{{ user[0] }}" >Delete Profile</button>
        <p class="font-weight-light">WARNING - This action cannot be undone.</p>
    </form>
    <br>
</div>

    
{% endblock %}