{% extends "base.html" %}

{% block content %}
    <h1>FEC Status Board</h1>
    <br>
    <div class="row">
        {% for key in users.keys() %}
            <div class="col-sm-2 px-1 py-1">
                <div class="card">
                    <div class="text-center">
                        <img class="card-img-top CattoBorderRadius py-2 px-2" src="/static/images/users/{{ key }}.png" style="max-height: 200px; max-width: 200px;" alt="Profile picture" onerror="if(this.src != '/static/images/users/default.png') this.src = '/static/images/users/default.png';">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ users[key].fName }} {{ users[key].lName }}</h5>
                        <p class="card-text text-center">{% if 'comment' in users[key] %} {{ users[key].comment }} {% else %} - {% endif %}</p>
                        <div
                        {% if users[key].status == "OUT" %}
                            class="alert alert-warning text-center"
                            {% elif users[key].status == "IN" %}
                            class="alert alert-success text-center"
                            {% elif users[key].status == "ON LEAVE" %}
                            class="alert alert-danger text-center"
                            {% elif users[key].status == "WFH" %}
                            class="alert alert-primary text-center"
                            {% endif %} role="alert">
                            {{ users[key].status }}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated: {{ users[key].lastmod[0:17] }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p>
{% endblock %}