{% extends "base.html" %}

{% block content %}
    <h1>FEC Status Board</h1>
    <br>
    <div class="card-group">
        {% for key in users.keys() %}
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top CattoBorderRadius" src="/static/images/users/{{ key }}.png" alt="Profile picture" onerror="if(this.src != '/static/images/users/default.png') this.src = '/static/images/users/default.png';">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ users[key].fName }} {{ users[key].lName }}</h5>
                        <p class="card-text text-center">{{ users[key].comment }}</p>
                        <div
                        {% if users[key].status == "OUT" %}
                            class="alert alert-warning text-center"
                            {% elif users[key].status == "IN" %}
                            class="alert alert-success text-center"
                            {% elif users[key].status == "ON LEAVE" %}
                            class="alert alert-danger text-center"
                            {% elif users[key].status == "WFH" %}
                            class="alert alert-primary text-center"
                            {% endif %} role="alert">
                            {{ users[key].status }}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated: {{ users[key].lastmod }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p>
{% endblock %}